<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <script type="text/javascript" src="./jquery"></script>
    <script type="text/javascript" src="./socketIo"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript" charset="utf-8">
        var socket;
        $(document).ready(function () {

            var PENDING_FILES  = [];
            var UPLOAD_URL = "/upload";


            initDropbox();
            namespace = '/test'; // change to an empty string to use the global namespace

            // the socket.io documentation recommends sending an explicit package upon connection
            // this is specially important when using the global namespace
            socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

            // event handler for server sent data
            // the data is displayed in the "Received" section of the page
            socket.on('my response', function (msg) {
                var log = $('#log');
                log.append(msg.data);
                window.scrollTo(0, document.body.scrollHeight);
                if (msg.data == "Thread Finished") {
                    $(".center")[0].innerHTML = "GO!"
                }
            });

            // event handler for new connections
            socket.on('connect', function () {
                socket.emit('my event', {data: 'I\'m connected!'});
            });


            function handleFiles(files) {
                // Add them to the pending files list.
                for (var i = 0, ie = files.length; i < ie; i++) {
                PENDING_FILES.push(files[i]);
                }
            }

            function initDropbox() {
                var $dropbox = $("#dropbox");
                $dropbox.on("dragenter", function (e) {
                    e.stopPropagation();
                    e.preventDefault();
                    $(this).addClass("active");
                });

                // On drag over...
                $dropbox.on("dragover", function(e) {
                e.stopPropagation();
                e.preventDefault();
                });

                // On drop...
                $dropbox.on("drop", function(e) {
                e.preventDefault();
                $(this).removeClass("active");
                var files = e.originalEvent.dataTransfer.files;
                handleFiles(files);

                // Update the display to acknowledge the number of pending files.
                $dropbox.text(PENDING_FILES.length + " files ready for upload!");
            })}

            // Handle the submit button.
            function doUpload() {
                var fd = new FormData();
                fd.append("file", PENDING_FILES[0]);
                fd.append("__ajax", true);
                var xhr = $.ajax({
                    // TODO: progress of the upload
                    url: UPLOAD_URL,
                    method: "POST",
                    contentType: false,
                    processData: false,
                    cache: false,
                    data: fd,
                    success: function(data){
                        data = JSON.parse(data);
                        if (data.status == "error"){
                            alert(JSON.stringify(data))
                        }
                        else{
                            alert("Success")
                        }
                    }
                });
            }

            $("#upload-button").on("click", function(e) {
            // If the user has JS disabled, none of this code is running but the
            // file multi-upload input box should still work. In this case they'll
            // just POST to the upload endpoint directly. However, with JS we'll do
            // the POST using ajax and then redirect them ourself when done.
            e.preventDefault();
            doUpload();
    })

        });

        var clicked = false;

        function startStop(element) {
            clicked = !clicked;
            element.innerHTML = clicked ? "STOP!" : "GO!";
            socket.emit('startInstrumentation', {data: clicked});
        }
    </script>
</head>
<body>
<h2>Instumentation</h2>

<span class="button raised blue" style="position: fixed; top: 10px; right: 10px">
    <div class="center" fit onclick="startStop(this)">GO!</div>
    <paper-ripple fit></paper-ripple>
</span>

<form id="uploadForm" action="#" method="POST" enctype="multipart/form-data">
    <div id="dropbox">
        Drag And Drop APKs there.
    </div>

    <input type="submit" value="Upload!" id="upload-button">

</form>
<div id="log"></div>
</body>
</html>
